<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Akaunto</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav th:insert="fragments/navbar.html :: navbarLoggedIn(${ownAccount})"> </nav>
        <div class="container text-center">
            <h1>Welcome back <b th:text="${ownAccount.getFullName()}"></b></h1>

            <form th:action="@{/post}" th:object="${post}"
                  method="post" style="max-width: 600px; margin: 0 auto;">
                <div class="input-group mb-3">
                    <input type="text" th:field="*{content}" class="form-control" placeholder="Say something"
                           aria-label="Say something" aria-describedby="basic-addon2"
                           required minlength="3" maxlength="255">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Post</button>
                    </div>
                </div>
            </form>

            <div>
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 60%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>
                    <tr th:each="post: ${allFollowedPosts}" >
                        <td><a th:text="${post.author.username}" th:href="@{/u/{path}(path=${post.author.username})}"></a></td>
                        <td th:text="${post.content}">Content</td>
                        <td th:text="${#dates.format(post.date, 'dd.MM.yyyy HH:mm')}">Date</td>
                    </tr>
                </table>
            </div>

        </div>
        <footer th:insert="fragments/adBanner.html :: adBanner(${ad})"> </footer>
    </body>
</html>