<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Akaunto</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1 th:text="${targetAccount.username}"></h1>
    <h1 th:text="${targetAccount.firstName}"></h1>
    <h1 th:text="${targetAccount.lastName}"></h1>
    <h1 th:text="${targetAccount.followers.size()}"></h1>
    <h1 th:text="${targetAccount.following.size()}"></h1>
    <div th:unless="${isLoggedIn} == false">
        <div th:unless="${isFollowing} == true">
            <form th:action="@{/follow/{path}(path=${targetAccount.username})}" method="post">
                <button type="submit" class="btn btn-primary">Follow</button>
            </form>
        </div>
        <div th:unless="${isFollowing} == false">
            <form th:action="@{/unfollow/{path}(path=${targetAccount.username})}" method="post">
                <button type="submit" class="btn btn-primary">Unfollow</button>
            </form>
        </div>
    </div>
    <div th:unless="${isOwnProfile} == false">
        <button type="submit" class="btn btn-primary">Edit Profile</button>
    </div>
</div>
</body>
</html>