<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Akaunto</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:if="${isLoggedIn} == false" class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" th:href="@{/}">Akaunto</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Log In</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
        <input class="form-control mr-sm-2" type="search" name="searchparam" placeholder="Search for users" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<nav th:if="${isLoggedIn} == true" class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Akaunto</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/u/{path}(path=${ownAccount.username})}" th:text="${ownAccount.username}">asd</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/u/{path}(path=${ownAccount.username})}">See your profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" >
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-danger" value="Sign Out"/>
                    </form>
                </a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
        <input class="form-control mr-sm-2" type="search" name="searchparam" placeholder="Search for users" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account: ${foundAccounts}">
            <td th:text="${account.id}">ID</td>
            <td th:text="${account.username}">Username</td>
            <td th:text="${account.firstName}">First Name</td>
            <td th:text="${account.lastName}">Last Name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>