<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Akaunto</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav th:insert="fragments/navbar.html :: navbarLoggedIn(${ownAccount})"> </nav>
        <form th:action="@{/process_settingschange}" th:object="${ownAccount}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label" th:text="${'First Name: ' + ownAccount.firstName}">First
                        Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{firstName}" placeholder="New First Name" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label" th:text="${'Last Name: ' + ownAccount.lastName}">Last
                        Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{lastName}" placeholder="New Last Name" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">New Password: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{password}" placeholder="New password" class="form-control"
                               required minlength="6" maxlength="30"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Confirm old Password: </label>
                    <div class="col-8">
                        <input type="password" th:value="${checkPassword}" name="checkPassword"
                               placeholder="Confirm old password" class="form-control"
                               required minlength="6" maxlength="30"/>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </div>
        </form>
        <p th:if="${passwordError}" class="text-danger">Password does not match</p>
        <p th:if="${passwordSuccess}" class="text-success">Your account has been updated!</p>
    </body>
</html>